# Created by https://www.toptal.com/developers/gitignore/api/eclipse
# Edit at https://www.toptal.com/developers/gitignore?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT- autotools
.autotools

# Code Recommenders
.recommenders/

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# End of https://www.toptal.com/developers/gitignore/api/eclipse

# Stm32cubeIDE files:
.mxproject

# From: https://shadyelectronics.com/how-to-use-github-with-stm32cubeide/
#Debug
Debug/
debug/
Release/
release

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb


# https://stackoverflow.com/questions/41224790/what-do-i-need-to-leave-out-of-git-for-eclipse-cdt-projects#48970905

# Project files
!.project
!.cproject

# C/C++ Development Tooling configuration
!.settings/org.eclipse.cdt.codan.core.prefs

# Stores file encodings config
!.settings/org.eclipse.core.resources.prefs

# Stores line terminators config
!.settings/org.eclipse.core.runtime.prefs

# System specific files
.buildpath
.settings/org.eclipse.cdt.core.prefs
